@charset "utf-8";
@media only screen and (max-width:420px), only screen and (max-device-width:420px), handheld{
    .pc {
        display: none;  /* 테이블에서 collapse에 적용된다. */
        visibility: hidden;
    }

    td.pc {
        visibility: collapse;
    }

    .content {
        padding: 3px !important;
        padding-bottom: 3px !important;
        min-height: 250px !important;
    }

    h1,h2,h3,h4 {
        font-size: 1.5em !important;
    }
}

@media only screen and (max-width:991px) {
	.pc {
        display: none;  /* 테이블에서 collapse에 적용된다. */
        visibility: hidden;
    }
    
    /* dandelion datatables 검색과 다운로드 버튼 안보이게 */
    .dataTables_filter {
    	display: none;
        visibility: hidden;
    }
    
    .dataTables_export {
    	display: none;
        visibility: hidden;
    }
}

body div.content {
	min-height: 350px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

input[required] {
    border-color: #00F;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 255, .5);
}
input:invalid {
    border-color: #F00;
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
}

.pg-opt > .row {
    margin-left: 0px !important; 
}

.col-md-6 > .breadcrumb {
	text-align: right !important;
}